.profile__name {
    font-size: 42px;
    line-height: 48px;
    font-style: normal;
    font-weight: 500;
    color: #fff;
    margin: 0 18px 0 0;
}

@media screen and (max-width: 670px) {
    .profile__name {
        margin-right: 10px;
        font-size: calc(0.033*100vw + 13px);
        line-height: calc(0.033*100vw + 13px);
    }
}

@media screen and (max-width: 320px) {
    .profile__name {
        font-size: 27px;
        line-height: 33px;
}